.projectItemContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: clamp(16px, 1vw, 22px);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 35% 40% 10%;
  grid-template-areas:
    "dateBox projImage"
    "titleBox projImage"
    "main main"
    "footer footer";
}
.projectItemContainer * {
  padding: 0;
  margin: 0;
}

.dateBox {
  grid-area: dateBox;
  align-items: center;
  display: flex;
}
.dateP {
  margin-left: 10px;
}

.titleBox {
  grid-area: titleBox;
  align-items: center;
  display: flex;
}
.titleH1 {
  margin-left: 10px;
  font-weight: bolder;
}

.imageContainer {
  /* margin: 5px 10%; */
  grid-area: projImage;
  padding: 5px;
}
.imageInner {
  width: 100%;
  /* border: 1px black solid; */
  object-fit: contain;
}

.descriptionP {
  grid-area: main;
  margin-left: 10px;
}

.additionalsDiv {
  grid-area: footer;
  margin-left: 10px;
}
