* {
  box-sizing: border-box;
}

#projectListContainer {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
}

#projectSidebar {
    grid-column: 1;
    padding: 10px;
}

#projectList {
  grid-column: 2;
  padding: 0;
  margin: 0;
  list-style: none;
}

#testProjectList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between flex-start ;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Temporary Project-List-Item for testing - final will be in ProjectListItem.css */
.Test-Project-List-Item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin: 0.5%;
  line-height: 150px;
  color: white;
  font-weight: lighter;
  font-size: 2em;
  text-align: center;
}

.Project-List-Item {
  background: cyan;
  max-width: 50%;
  padding-top: 33.33%;
  height: 0;
  overflow: visible;
  position: relative;
  /* line-height: 150px; */
  color: black;
  font-weight: lighter;
}