@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.socialContainer {
  height: 100%;
  padding: 200px 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.textContainer {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  border-bottom: 3px aliceblue solid;
}
.textContainer h1 {
  color: #aacae6;
}

.linkContainer {
  width: 100%;
  display: flex;
  flex: row wrap;
  padding: 10px;
  margin: 10px auto;
}

.buttonContainer {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.buttonLink {
  display: block;
  max-width: 100px;
  max-height: 100px;
  padding: 25%;
  border-bottom: 3px solid aliceblue;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.buttonLink:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: aliceblue;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.buttonLink:hover:before,
.buttonLink:focus:before,
.buttonLink:active:before {
  right: 0;
}

.buttonImg {
  min-width: 50px;
  min-height: 50px;
}
