.projectItemContainer {
  height: 100%;
  width: 100%;
  color: #102027;
  position: absolute;
  /* border-left: #102027 2px solid; */
  top: 0;
  left: 0;
  padding: 5px;
  font-size: clamp(14px, 1vw, 22px);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 35% 30% 10% 10%;
  grid-template-areas:
    "dateBox projImage"
    "titleBox projImage"
    "main main"
    "footer footer"
    "tags tags";
}
.projectItemContainer * {
  padding: 0;
  margin: 0;
}
.projectItemContainer p {
  border-left: #102027 3px solid;
  margin-left: 5px;
  padding-left: 5px;
}
.dateBox {
  grid-area: dateBox;
  align-items: center;
  display: flex;
}


.titleBox {
  grid-area: titleBox;
  align-items: center;
  display: flex;
}
.titleH1 {
  font-weight: lighter;
  border-left: #102027 3px solid;
  margin-left: 5px;
  padding-left: 5px;
}

.imageContainer {
  grid-area: projImage;
  padding: 5px;
}
.imageInner {
  display: block;
  margin: auto;
  height: 100%;
  object-fit: contain;
}

.descriptionP {
  grid-area: main;
  margin: 10px 0;
}

.repoDiv {
  grid-area: footer;
  margin-left: 10px;
  display: flex;
}

.repoLink {
  height: 100%;
  padding: 2px;
  /* justify-content: flex-start; */
}
.repoLink * {
  height: inherit;
}


.tagList {
  grid-area: tags;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}
.tagListItem {
  margin: auto 0px;
}