.headerContainer {
  min-height: 75px;
  max-height: 100%;
  width: 100%;
  border-bottom: 5px solid aliceblue;
  padding: 5px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.imageLink {
  height: 100px;
  width: 100px;
  margin: auto;
}
.imageLink img{
  height: 100%;
  width: 100%;
}

.navbarContainer {
  text-align: center;
  max-height: 100%;
  list-style-type: none;
  display: inline-flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.navLi {
  color: aliceblue;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  vertical-align: middle;
}